<div id="nav-border">
    <nav id="nav">
      <a href="/" class="nav-title">{{ .Site.Title }}</a>
      {{ range .Site.Menus.main -}}
      <a href="{{ .URL }}" class="nav-link" {{if eq .URL "#"}}onclick="toggleDarkMode();"{{end}} >
        {{ if .Pre -}}
        {{- $icon := printf "<img src=\"/img/%s24x24.svg\">" .Pre | safeHTML -}}
        <span class="nav-icon">
	  <img src="/img/{{.Pre}}24x24.svg" {{if .Identifier}}id="{{.Identifier}}"{{end}}>
	</span>
        {{- end -}}
        {{- $text := print .Name | safeHTML -}}
          <span class="nav-text">{{ $text }}</span>
      </a>
      {{ end }}
    </nav>
</div>
