<div id="right-side">
  <div id="right-widgets">
    {{ with (.Site.GetPage "/sidebar") }}
    {{ range .Pages }}
    <div class="widget">
      <h2 class="title">{{.Title}}</h2>
      <div class="widget-content">
	{{.Content}}
      </div>
      <div class="clear"></div>
    </div>
    {{- end -}}
    {{- end -}}
    <div class="widget">
      <h2 class="title">Tags</h2>
      <div class="widget-content">
	{{ range $name, $taxonomy := .Site.Taxonomies.tags }}
	<span class="tag-size-{{ $taxonomy.Count }}"><a href="/tags/{{ $name | urlize }}">#{{$name}}</a></span>
	{{end}}
      </div>
      <div class="clear"></div>
    </div>
    <div class="widget">
      <h2 class="title">Fudge Fountain Archive</h2>
      <div class="widget-content">
	<ul class="archive">
	  {{ with (.Site.GetPage "/posts") }}
	  {{ range .Pages.GroupByDate "2006" }}
	  <li class="year">
	    {{ .Key }} ({{ len .Pages }})
	    <ul class="month-archive">
	      <li class="month">
		{{ range .Pages.GroupByDate "January" }}
		{{ .Key }} ({{ len .Pages }})
		<ul class="posts">
		  {{ range .Pages }}
		  <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
		  {{ end }}
		</ul>
	      </li>
	      {{ end }}
	    </ul>
	  </li>
	  {{ end }}
	</ul>
	{{ end }}
      </div>
      <div class="clear"></div>
    </div>

  </div>
</div>
