body {
  font: normal normal 0.9em Arial, Tahoma, Helvetica, FreeSans, sans-serif;
  color: #444;
  background: #eeeeee url(/img/FudgeFountainBackground.jpg) repeat scroll top left;
  margin: 0;
}

#site-title {
  font-size: 3em;
  font-weight: bold;
  margin: 32px;
}

#nav-border {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  padding: 0;
}

#nav {
  width: 100%;
  margin-bottom: 1em;
  background: rgb(153,153,153);
  background: -webkit-linear-gradient(bottom, rgba(153,153,153,1) 0%, rgba(238,238,238,1) 90%, rgba(255,255,255,1) 100%);
  background: -moz-linear-gradient(bottom, rgba(153,153,153,1) 0%, rgba(238,238,238,1) 90%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(bottom, rgba(153,153,153,1) 0%, rgba(238,238,238,1) 90%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to top, rgba(153,153,153,1) 0%, rgba(238,238,238,1) 90%, rgba(255,255,255,1) 100%);
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

#nav .nav-title {
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  margin: 0 2em 0 1em;
  color: #333;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
}

#nav .nav-link {
  color: #333;
  padding-top: 0.7em;
  padding-right: 1.5em;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 0.5em;
}

#nav .nav-link .nav-icon {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  align-content: space-around;
  flex-wrap: wrap;
}

#nav .nav-link .nav-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 1.3em;
  padding-left: 0.1em;
}

.metadata {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.metadata .md-icon {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.metadata time {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  padding-top: 0.2em;
  margin: 0 0.3em;
}

.metadata .tag {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 0.2em;
  border: 1px solid #000;
  border-radius: 0.2em;
  margin-left: 0.3em;
  color: #000;
}

.metadata .tag:hover {
  color: #eee;
  background-color: #000;
}

a:visited {
  text-decoration: none;
  color: #4d469c;
}

a:link {
  text-decoration: none;
  color: #3778cd;
}

h1 a:link {
  color: black;
}

h1 a:visited{
  color: black;
}

a.btn:link,a.btn:visited {
  color: #212529;
}

a.btn:hover {
  color: #eee;
}

#content-wrapper {
  display: flex;
  flex-wrap: wrap;
}

#content-wrapper #content {
  flex: 20 1 50em;
  max-width: 1200px;
}

.post {
  background-color: #fff;
  box-shadow: 0.8em 0.8em 0.8em #888;
  padding: 1em;
  margin: 1em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.post .summary {
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 1em;
  border-bottom: 1px solid #444;
}

#content-wrapper #content .banner {
  background: #fff url(/img/everflowing_by_tomtc_de9g7mr-fullview.jpg) no-repeat fixed 30% top;
  height: 400px;
  display: flex;
  align-items: center;
}

#content-wrapper #content .banner h1 {
  margin-left: auto;
  margin-right: auto;
  width: 10em;
  display: block;
  color: black;
  font-style: bold;
  font-size: 5em;
  overflow: auto;
  max-width: 79vw;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

#banner-caption {
  font-style: italic;
  font-size: 0.9em;
  display: block;
  margin-left: 1em;
  margin-bottom: 1em;
}

#content-wrapper #right-side {
  flex: 1 1 270px;
  margin-top: 1em;
}

#content-wrapper #right-side #right-widgets {
  display: flex;
  flex-wrap: wrap;
  place-items: flex-start;
  justify-content: space-evenly;
}

#content-wrapper #right-widgets .widget {
  flex: 0 1 270px;
  padding: 1em;
  margin: 0 1em 1em 0;
  background-color: #fff;
  box-shadow: 0.8em 0.8em 0.8em #888;
}

#right-widgets .widget h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.4em;
  margin-top: 0;
  font-size: 1.4em;
}

#right-widgets .widget .widget-content a:visited {
  text-decoration: none;
  color: #4d469c;
}

#right-widgets .widget .widget-content a:link {
  text-decoration: none;
  color: #3778cd;
}


#right-widgets .widget .widget-content ul {
  list-style: none;
  text-indent: 0;
  padding-inline-start: 0;
}

#right-widgets .widget .widget-content li {
  padding: .5em 15px;
}

#right-widgets .widget .widget-content ul li p {
  margin-bottom: 0;
}

#right-widgets .widget .widget-content .tag-size-1 {
  font-size: 100%;
}
#right-widgets .widget .widget-content .tag-size-2 {
  font-size: 105%;
}
#right-widgets .widget .widget-content .tag-size-3 {
  font-size: 110%;
}
#right-widgets .widget .widget-content .tag-size-4 {
  font-size: 115%;
}
#right-widgets .widget .widget-content .tag-size-5 {
  font-size: 120%;
}
#right-widgets .widget .widget-content .tag-size-6 {
  font-size: 125%;
}
#right-widgets .widget .widget-content .tag-size-7 {
  font-size: 130%;
}
#right-widgets .widget .widget-content .tag-size-8 {
  font-size: 135%;
}
#right-widgets .widget .widget-content .tag-size-9 {
  font-size: 140%;
}
#right-widgets .widget .widget-content .tag-size-10 {
  font-size: 145%;
}
#right-widgets .widget .widget-content .tag-size-11 {
  font-size: 150%;
}
#right-widgets .widget .widget-content .tag-size-12 {
  font-size: 155%;
}
#right-widgets .widget .widget-content .tag-size-13 {
  font-size: 160%;
}
#right-widgets .widget .widget-content .tag-size-14 {
  font-size: 165%;
}
#right-widgets .widget .widget-content .tag-size-15 {
  font-size: 170%;
}
#right-widgets .widget .widget-content .tag-size-16 {
  font-size: 175%;
}
#right-widgets .widget .widget-content .tag-size-17 {
  font-size: 180%;
}
#right-widgets .widget .widget-content .tag-size-18 {
  font-size: 185%;
}
#right-widgets .widget .widget-content .tag-size-19 {
  font-size: 190%;
}
#right-widgets .widget .widget-content .tag-size-20 {
  font-size: 195%;
}
#right-widgets .widget .widget-content .tag-size-21 {
  font-size: 200%;
}
#right-widgets .widget .widget-content .tag-size-22 {
  font-size: 205%;
}
#right-widgets .widget .widget-content .tag-size-23 {
  font-size: 210%;
}
#right-widgets .widget .widget-content .tag-size-24 {
  font-size: 215%;
}
#right-widgets .widget .widget-content .tag-size-25 {
  font-size: 220%;
}
#right-widgets .widget .widget-content .tag-size-26 {
  font-size: 225%;
}
#right-widgets .widget .widget-content .tag-size-27 {
  font-size: 230%;
}
#right-widgets .widget .widget-content .tag-size-28 {
  font-size: 235%;
}
#right-widgets .widget .widget-content .tag-size-29 {
  font-size: 240%;
}
#right-widgets .widget .widget-content .tag-size-30 {
  font-size: 245%;
}

li.year {
  border-bottom: 1px solid #eee;
}

.bottom-border li {
  border-bottom: 1px solid #eee;
}

/* Display style */

.post h1.category {
	font-size: 3.5em;
}
.post h1 {
	font-size: 2.5em;
}
.post h2 {
	font-size: 2.0em;
}
.post h3 {
	font-size: 1.5em;
}
.post h4 {
	font-size: 1.3em;
}
.post h5 {
	font-size: 1.1em;
}

.post figure {
  margin: 0;
}

.post .aside-block {
  font-style: italic;
}

.post table {
  border-collapse: collapse;
  border: 1px solid black;
  margin: .5em;
}

.widget-content table {
  border-collapse: collapse;
  border: 1px solid black;
  width: 90%;
  margin: .5em;
}

.widget-content table.gsc-search-box {
  border-collapse: collapse;
  border: 0;
  width: 100%;
  margin: .5em;
}

.post table caption {
  text-align: left;
  caption-side: bottom;
  padding: 0.5em;
  font-style: italic
}

.table-number {
  display: none;
}

.section-number-1, .section-number-2, .section-number-3 , .section-number-4 {
  display: none;
}

td, th {
  padding: 0.1em 0.5em 0.1em 0.5em;
}

tbody tr:nth-child(even) {
  background: #DDD;
}

thead th {
  background-color: silver;
  text-align: left;
}

.org-right {
  text-align: center;
}

.org-left {
  text-align: left;
}

.post div.ex {
  font-style: italic;
}

.summary .inline-img {
  max-height: 350px;
  object-fit: cover;
  object-position: 0 0;
}

.inline-img {
  float:right;
  max-width: 50%;
  margin: 0.5em 0 0.5em 0.5em;
}

.inline-img-dark {
  float:right;
  max-width: 50%;
  margin: 0.5em 0 0.5em 0.5em;
}

.inline-img-left {
  float: left;
  max-width: 50%;
  margin: 0.5em 0 0.5em 0.5em;
}

.big-img {
  max-width: 100%;
}

.big-img-dark {
  max-width: 100%;
}

.inline-big-img {
  float:right;
  max-width: 90%;
  margin: 0.5em 0 0.5em 0.5em;
}

.caption{
  font-style: italic;
  font-size: 0.9em;
  display: block;
  padding-right: 0.5em;
  margin-left: 1em;
  margin-bottom: 1em;
  margin-top: -0.5em;
}

.bigpicture {
  float:right;
  max-width: 99%;
  margin-bottom: 0.5em;
}

.bigpicture figure img {
  max-width: 90%;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-wrap .flex-box {
  flex: 3 1 200px;
}

.flex-wrap figure {
  flex: 1 1 200px;
}

.bigtable {
  margin: auto auto auto 0;
  overflow: auto;
  max-width: 79vw;
  justify-content: left;
  padding-left: 0;
}

.bigtable table {
  margin: 0.5em;
}

.bigtable tbody tr td {
  min-width: 6.5em;
}

.bigtable .fotf tbody tr td {
  min-width: 2em;
}

table.fpf tbody tr:nth-child(8n+1),
table.fpf tbody tr:nth-child(8n+2),
table.fpf tbody tr:nth-child(8n+3),
table.fpf tbody tr:nth-child(8n+4) {
    background-color: #fff;
}

table.fpf tbody tr:nth-child(8n+1) td strong,
table.fpf tbody tr:nth-child(8n+2) td strong,
table.fpf tbody tr:nth-child(8n+3) td strong,
table.fpf tbody tr:nth-child(8n+4) td strong{
    color: #fff;
}

table.fpf tbody tr{
    background-color: #ddd;
}

table.fpf tbody tr td strong{
    color: #ddd;
}

.avg-table tbody tr td {
  min-width: 5.5em;
}

.nomin-table tbody tr td {
  min-width: 5.5em;
}

figure img {
  margin: 0.5em;
}

figure figcaption {
  font-style: italic;
  font-size: 0.9em;
  display: block;
  margin-left: 1em;
  margin-bottom: 1em;
  margin-top: -0.5em;
}

figure figcaption span.figure-number {
  display: none;
  text-style: italic;
  font-size: 0.9em
}

.wounds tbody {
  border-collapse: collapse;
  vertical-align: middle;
  font-family: sans;
  font-size: 1em;
  border: 1px solid black;
}

.wounds tbody tr {
  height: 2em;
  font-family: sans;
  font-size: 1em;
}

.wounds tbody tr td {
  text-align: center;
  width: 2em;
  max-width: 2em;
  padding: 0;
  margin: 0;
  border: 1px solid black;
}

.wounds tbody tr td:nth-child(-n+6) {
  color: white;
  background-color: #cfe2f3;
  font-weight: normal;
}

.wounds tbody tr td strong {
  color: black;
  font-weight: normal;
}

.wounds tbody tr td em {
  color: #cccccc;
  font-style: normal;
}

div.damagetable {
  margin-bottom: 1em;
}

.damagetable figure figcaption {
  font-size: 0.6em;
  font-style: normal;
  margin-left: 1.5em;
  margin-top: -0.5em;
}

dl dt {
  font-weight: bold;
}

dl dd {
  margin-left: 2em;
  margin-bottom: 0;
  margin-top: 0;
}

dl dd p {
  margin-bottom: 0;
  margin-top: 0;
}

ul li p  {
  margin-bottom: 0;
  margin-top: 0;
}

ol li p {
  margin-bottom: 0;
  margin-top: 0;
}


div.ex-block {
  font-style: italic;
  margin-left: 1em;
}

.footer {
    margin-top: 2em;
    background: #eee;
    color: #444;
    padding: 1em;
}

.bigtable table.fotf {
  border: none;
}

.bigtable .fotf tbody tr {
  border: none;
}

.bigtable .fotf tbody tr td {
  min-width: 6em;
  background-color: #fff;
  color: black;
  text-decoration: none;
  border: none;
  padding: 0.1em;
}


.fotf tbody tr td span {
  color: #fff;
  background-color: #fff;
  text-decoration: none;
  min-width: 6em;
  display: block;
  margin: 5px;
}

.fotf tbody tr td em {
  background-color: #fff;
  text-decoration: none;
  font-style: normal;
  min-width: 6em;
  display: block;
  border: 1px solid black;
  padding: 0.2em;
}

.fotf tbody tr td strong {
  text-decoration: none;
  background: #C0C0C0;
  min-width: 6em;
  display: block;
  padding: 0.2em;
}


.fotf tbody tr td em strong {
  text-decoration: none;
  font-style: italic;
  font-weight: normal;
  background: #fff;
  min-width: 6em;
  display: block;
  margin: -0.2em;
}
