<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
      {{- partial "header.html" . -}}
      <div id="content-wrapper">
        <div id="content">
	  {{- if .IsHome -}}
	  {{- partial "home" . -}}
	  {{- else -}}
          {{- block "main" . }}{{- end -}}
	  {{- end }}
        </div>
	{{- partial "right.html" . -}}
      </div>
      {{- partial "footer.html" . -}}
      {{- partial "script.html" . -}}
    </body>
</html>
