{{ define "main" }}
<div class="post">
<h1 class="category">{{ if eq .Kind "taxonomy"  }}#{{ end }}{{ .Title }}</h1>
{{ range .Pages.ByDate.Reverse }}
<div class="summary">
  <h1><a class="title" href="{{ .RelPermalink }}">{{ if eq .Kind "taxonomy"  }}#{{ end }}{{.Title }}{{ if eq .Kind "taxonomy" }} ({{len .Pages}}){{end}}</a></h1>
  {{ partial "metadata.html" . }}
        <p>{{ .Summary }}</p>
  <p>
{{ if ne .Kind "taxonomy"  }}<a href="{{ .RelPermalink }}">read more &gt;&gt;</a>{{ end }}
</div>
{{ end }}
</div>
{{ end }}
